<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genaro Silvestre - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    
</head>
<body>
    <div class="main">

        <div class="menu-left" id="menu-left">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Cambiar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/News/Home">
                        <img src="~/Content/images/Header.png" class="navbar-brand-logo" />
                    </a>
                </div>
                <div class="menu-spacer"></div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        @{
                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "News")
                            {
                                <li class="active"><a href="/News/Home">Noticias</a></li>
                            }
                            else
                            {
                                <li><a href="/News/Home">Noticias</a></li>
                            }


                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "AreasDePractica")
                            {
                                <li class="active"><a href="/Home/AreasDePractica">Áreas de práctica</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/AreasDePractica">Áreas de práctica</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Perfil")
                            {
                                <li class="active"><a href="/Home/Perfil">Perfil ejecutivo</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/Perfil">Perfil ejecutivo</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "PerfilFirma")
                            {
                                <li class="active"><a href="#">Perfil de la firma</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/Perfil">Perfil de la firma</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Notariado")
                            {
                                <li class="active"><a href="#">Notariado y legalización</a></li>
                            }
                            else
                            {
                                <li><a href="#">Notariado y legalización</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Contact")
                            {
                                <li class="active"><a href="/Home/Contact">Contactos</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/Contact">Contactos</a></li>
                            }

                        }
                        <li>
                            <br />
                            <div class="social-mini">
                                <a href="http://www.facebook.com"><img src="~/Content/images/FBLogo.png" /></a>
                                <a href="http://www.twitter.com"><img src="~/Content/images/TWLogo.png" /></a>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="menu-right">
            <div class="menu-right-background hidden-sm hidden-xs" id="menu-right-background">
                <div class="header-text">
                    GENARO SILVESTRE, ESTUDIO JURIDICO – LAW OFFICE es un bufete de abogados, con sede principal en la ciudad de La Romana, en la región Este de la República Dominicana, con oficinas en Santo Domingo, Distrito Nacional, especializada en la asistencia y asesoría legal a personas públicas o privadas para la protección y defensa de sus intereses económicos, legales y derechos constitucionales, así como en la representación judicial y extrajudicial en casos de litigios Civiles, Administrativos y Arbitrales.
                </div>
                <div class="header-link">
                    <a href="/Home/Perfil">Leer Más</a>
                </div>
            </div>
            <div class="container body-content" id="body-content">
                @RenderBody()
            </div>
            <footer></footer>
        </div>
    </div>
   
    <script>
        window.onload = window.onresize = function () {
            var left = document.getElementById('menu-left').offsetHeight;
            var right = document.getElementById('body-content').offsetHeight + document.getElementById('menu-right-background').offsetHeight;

            if (left < right) {
                left = right;
                document.getElementById('menu-left').style.height = right + 'px'
            }
            else {
                ;
            }
        };
    </script>
    <script>
        (function ($) {
            $(window).load(function () {
                $("#noticia-wrapper").mCustomScrollbar();
            });
        })(jQuery);
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
