

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genaro Silvestre - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/jquery.sidr.dark.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.sidr.min.js"></script>

</head>
<body>
    <div class="main">
        <div class="row">
            <div class="col-sm-2">
                <div class="menu-left" id="menu-left">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Cambiar navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/News/Home">
                                <img src="~/Content/images/Logo.png" class="navbar-brand-logo" />
                            </a>
                        </div>
                        <div class="logo-spacer hidden-xs"></div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav">
                                @{

                                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "PerfilEjecutivo")
                                    {
                                        <li class="active"><a href="/Home/PerfilEjecutivo">@Resources.Resources.ExecutiveProfileTitle</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Home/PerfilEjecutivo">@Resources.Resources.ExecutiveProfileTitle</a></li>
                                    }

                                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "PerfilDeLaFirma")
                                    {
                                        <li class="active"><a href="/Home/PerfilDeLaFirma">@Resources.Resources.FirmProfileTitle</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Home/PerfilDeLaFirma">@Resources.Resources.FirmProfileTitle</a></li>
                                    }

                                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "AreasDePractica")
                                    {
                                        <li class="active"><a href="/Home/AreasDePractica">@Resources.Resources.PracticeAreasTitle</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Home/AreasDePractica">@Resources.Resources.PracticeAreasTitle</a></li>
                                    }


                                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "NotariadoYLegalizacion")
                                    {
                                        <li class="active"><a href="/Home/NotariadoYLegalizacion">Notariado y legalización</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Home/NotariadoYLegalizacion">Notariado y legalización</a></li>
                                    }

                                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Contact")
                                    {
                                        <li class="active"><a href="/Home/Contact">@Resources.Resources.ContactTitle</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Home/Contact">@Resources.Resources.ContactTitle</a></li>
                                    }

                                }
                                <li>
                                    <br />
                                    <div class="social-mini">
                                        <a href="http://www.facebook.com"><img src="~/Content/images/FBLogo.png" /></a>
                                        <a href="http://www.twitter.com"><img src="~/Content/images/TWLogo.png" /></a>
                                    </div>
                                </li>
                                <li>
                                <li><a href="http://genarosilvestrescroggins.blogspot.com/">Blog</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>

            <div class="col-md-12">
                <a href="#right-menu" id="right-menu">
                    <img src="~/Content/images/Contact-Icon.jpg" class="contact-mini hidden-sm hidden-xs" id="mini-image" />
                </a>
                <div id="sidr" class="sidr right">

                    @using (Html.BeginForm("Contact", "Home"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="contact-mini-gray-background">
                            <div class="contact-mini-wrapper">
                                <div class="contact-mini-header">
                                    Formulario de contacto
                                </div>
                                <div class="col-md-12">
                                    <div class="times-regular">@ViewBag.ContactMessage</div>
                                    @Html.ValidationSummary()
                                </div>


                                <div class="input-spaced-mini">
                                    <input type="text" name="Name" value="" placeholder="Nombre" class="input-spaced-mini-width" />
                                </div>


                                <div class="input-spaced-mini">
                                    <input type="text" name="Address" value="" placeholder="Direccion" class="input-spaced-mini-width" />
                                </div>
                                <div class="input-spaced-mini">
                                    <input type="text" name="Phone" value="" placeholder="Telefono" class="input-spaced-mini-width" />
                                </div>
                                <div class="input-spaced-mini">
                                    <input type="text" name="Email" value="" placeholder="E-mail" class="input-spaced-mini-width" />
                                </div>
                                <div class="input-spaced-mini">
                                    <input type="text" name="City" value="" placeholder="Ciudad" class="input-spaced-mini-width" />
                                </div>
                                <div class="input-spaced-mini">
                                    <textarea class="input-wide span6 input-spaced-mini-width" placeholder="Comentario" rows="12"></textarea>
                                </div>

                                <input type="submit" class="btn btn-contact-mini" value=" enviar" />
                            </div>
                        </div>

                    }

                </div>

                <div class="menu-right">
                    <div class="menu-right-background hidden-sm hidden-xs" id="menu-right-background">
                        <div class="header-text" id="header-text">
                            "Top shelf, high powered litigator"
                        </div>

                        <div class="header-link" id="header-link">
                            New York Post
                        </div>
                    </div>

                    <div class="container body-content" id="body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>

    </div>



    <script>
        $(document).ready(function () {
            $('#right-menu').sidr({
                side: 'right',
                displace: false
            });
        });
    </script>


    <script>
        (function ($) {
            $(window).load(function () {
                $(".header-text").animate({ opacity: 1, left: "+=200" }, 4000, "linear", function () {
                    $(".header-text").animate({ opacity: 0, left: "+=200" }, 6000, "linear");
                });

                $(".header-link").animate({ opacity: 1 }, 4000, "linear", function () {
                    $(".header-link").animate({ opacity: 0, left: "-=100" }, 4000, "linear", function () {
                        $("#menu-right-background").animate({ opacity: 0 }, 2000, "linear", function () {
                            document.getElementById("header-text").innerHTML = "\"One of New York's fiercest defenders\"";
                            document.getElementById("header-link").innerHTML = "New York Daily";


                            document.getElementById("header-text").style.left = "0px";


                            $(".header-text").animate({ opacity: 1, left: "+=200" }, 4000, "linear");
                            $(".header-link").animate({ opacity: 1 }, 4000, "linear");

                            $(".header-text").animate({ opacity: 0 }, 4000, "linear");
                            $(".header-link").animate({ opacity: 0 }, 4000, "linear");

                            document.getElementById("menu-right-background").style.backgroundImage = "url('../Content/images/Header-2.jpg')";

                            $("#menu-right-background").animate({ opacity: 1 }, 2000, "linear").delay(4000);
                            $("#menu-right-background").animate({ opacity: 0 }, 2000, "linear", function () {
                                document.getElementById("header-text").style.left = "0px";

                                document.getElementById("header-text").innerHTML = "\"Elevated to the upper level of prominence\"";
                                document.getElementById("header-link").innerHTML = "US Daily";

                                document.getElementById("header-text").style.left = "0px";

                                $(".header-link").animate({ opacity: 1 }, 4000, "linear");
                                $(".header-text").animate({ opacity: 1, left: "+=200" }, 4000, "linear");
                                $(".header-text").animate({ opacity: 0 }, 4000, "linear");
                                $(".header-link").animate({ opacity: 0 }, 4000, "linear");

                                document.getElementById("menu-right-background").style.backgroundImage = "url('../Content/images/Header-3.jpg')";
                                $("#menu-right-background").animate({ opacity: 1 }, 2000, "linear");



                            });
                        });

                    });
                });


            });
        })(jQuery);
    </script>


    <script>
        $(document).ready(function () {
            $(".noticias-header").click(function () {
                if (document.getElementById("menu-right-background").style.height.toString() == "0px") {
                    $("#header-text").show();
                    $("#header-link").show();
                    document.getElementById("menu-right-background").style.height = 350 + "px";
                    document.getElementById("mini-image").style.top = 466 + "px";
                    document.getElementById("sidr").style.top = 466 + "px";
                    
                }
                else {
                    $("#header-text").hide();
                    $("#header-link").hide();
                    $("#menu-right-background").slideUp(1500, "linear", function () {
                        document.getElementById("menu-right-background").style.height = 0 + "px";
                        document.getElementById("mini-image").style.top = 100 + "px";
                        document.getElementById("sidr").style.top = 100 + "px";
                    })
                }
            });
        })
    </script>

    <script type="text/javascript">
        $("#mini-image").click(function () {

            var image = $("#mini-image");

            if (image[0].src.indexOf("Contact-Icon.jpg") > -1) { image[0].src = "../Content/images/Contact-Icon-Close.jpg"; }
            else { image[0].src = "../Content/images/Contact-Icon.jpg"; }
        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
