

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genaro Silvestre - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/Content/jquery.sidr.dark.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/jquery.sidr.min.js"></script>

</head>
<body>
    <div class="main">

        <div class="menu-left" id="menu-left">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Cambiar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/News/Home">
                        <img src="~/Content/images/Header.png" class="navbar-brand-logo" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        @{

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "PerfilEjecutivo")
                            {
                                <li class="active"><a href="/Home/PerfilEjecutivo">Perfil del ejecutivo</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/PerfilEjecutivo">Perfil del ejecutivo</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "PerfilDeLaFirma")
                            {
                                <li class="active"><a href="/Home/PerfilDeLaFirma">Perfil de la firma</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/PerfilDeLaFirma">Perfil de la firma</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "AreasDePractica")
                            {
                                <li class="active"><a href="/Home/AreasDePractica">Áreas de práctica</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/AreasDePractica">Áreas de práctica</a></li>
                            }


                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "NotariadoYLegalizacion")
                            {
                                <li class="active"><a href="/Home/NotariadoYLegalizacion">Notariado y legalización</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/NotariadoYLegalizacion">Notariado y legalización</a></li>
                            }

                            if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Contact")
                            {
                                <li class="active"><a href="/Home/Contact">Contacto</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/Contact">Contacto</a></li>
                            }

                        }
                        <li>
                            <br />
                            <div class="social-mini">
                                <a href="http://www.facebook.com"><img src="~/Content/images/FBLogo.png" /></a>
                                <a href="http://www.twitter.com"><img src="~/Content/images/TWLogo.png" /></a>
                            </div>
                        </li>
                        <li>
                        <li><a href="http://genarosilvestrescroggins.blogspot.com/">Blog</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="menu-right">
            <div class="menu-right-background hidden-sm hidden-xs" id="menu-right-background">
                <div class="header-text">
                    GENARO SILVESTRE, ESTUDIO JURIDICO – LAW OFFICE es un bufete de abogados, con sede principal en la ciudad de La Romana, en la región Este de la República Dominicana, con oficinas en Santo Domingo, Distrito Nacional, especializada en la asistencia y asesoría legal a personas públicas o privadas para la protección y defensa de sus intereses económicos, legales y derechos constitucionales, así como en la representación judicial y extrajudicial en casos de litigios Civiles, Administrativos y Arbitrales.
                </div>
                <div class="header-link">
                    <a href="/Home/Perfil">Leer Más</a>
                </div>
            </div>
            <div class="container body-content" id="body-content">
                @RenderBody()
            </div>
            <footer></footer>
        </div>
    </div>

    <a href="#right-menu" id="right-menu">
        <img src="~/Content/images/Contact-Icon.jpg" class="contact-mini" id="mini-image" onclick='changeImage("../Content/images/Contact-Icon-Close.jpg");' />
    </a>
    <div id="sidr" class="sidr right">
        @using (Html.BeginForm("Contact", "Home"))
        {
            @Html.AntiForgeryToken()

            <div class="contact-mini-gray-background">

                <div class="contact-mini-header">
                    Formulario de contacto
                </div>
                <div class="col-md-12">
                    <div class="times-regular">@ViewBag.ContactMessage</div>
                    @Html.ValidationSummary()
                </div>


                <div class="input-spaced-mini">
                    <input type="text" name="Name" value="" placeholder="Nombre" class="input-spaced-mini-width" />
                </div>


                <div class="input-spaced-mini">
                    <input type="text" name="Address" value="" placeholder="Direccion" class="input-spaced-mini-width" />
                </div>
                <div class="input-spaced-mini">
                    <input type="text" name="Phone" value="" placeholder="Telefono" class="input-spaced-mini-width" />
                </div>
                <div class="input-spaced-mini">
                    <input type="text" name="Email" value="" placeholder="E-mail" class="input-spaced-mini-width" />
                </div>
                <div class="input-spaced-mini">
                    <input type="text" name="City" value="" placeholder="Ciudad" class="input-spaced-mini-width" />
                </div>
                <div class="input-spaced-mini">
                    <textarea class="input-wide span6 input-spaced-mini-width" placeholder="Comentario" rows="12"></textarea>
                </div>


                <div class="form-button input-spaced">
                    <input type="submit" class="btn btn-contact-mini input-spaced-mini-width" value=" enviar" />
                </div>
            </div>

        }
    </div>

    <script>
        $(document).ready(function () {
            $('#right-menu').sidr({
                side: 'right',
                displace: false
            });
        });
    </script>

    <script>
        window.onload = window.onresize = function () {
            var left = document.getElementById('menu-left').offsetHeight;
            var right = document.getElementById('body-content').offsetHeight + document.getElementById('menu-right-background').offsetHeight;

            if (left < right) {
                left = right;
                document.getElementById('menu-left').style.height = right + 'px'
            }
            else {
                ;
            }
        };
    </script>

    <script>
        (function ($) {
            $(window).load(function () {
                $("#noticia-wrapper").mCustomScrollbar({ mouseWheelPixels: 200 });
            });
        })(jQuery);
    </script>

    <script type="text/javascript">
        function changeImage(a) {
            document.getElementById("mini-image").src = a;
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
