@model GenaroSilvestre.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<div class="noticias-header">
    Registrarse
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="noticia-wrapper">
        <div class="row">
            <div class="col-md-4">
                @Html.AntiForgeryToken()
                <div class="form-subtitle">Crear una nueva cuenta.</div>
                <hr />
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <br />
                        <input type="submit" class="btn btn-default" value="Registrar" />
                    </div>
                </div>
            </div>
            </div>
        </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
