@{
    ViewBag.Title = "Genaro Silvestre - " + @Resources.Resources.PracticeAreasTitle;
}
<div class="noticias-header">
    @Resources.Resources.PracticeAreasTitle
</div>
<div class="menu-spacer"></div>
<div class="main-wrapper" id="noticia-wrapper">
    <div class="areas-image-frame">
        <div class="image-responsive">
            <img src="~/Content/images/Top-Pic-Inside.jpg" />
        </div>
    </div>
    <img src="~/Content/images/AreasFrameShadow.png" class="areas-image-shadow" />
    <div class="noticia-text-wrapper">
        <div class="areas-gray-background">
            @Resources.Resources.PracticeAreasGray
            <br />
            <br />
            @Resources.Resources.PracticeAreasGray2
        </div>
    </div>

    <div class="areas-wrapper">
        <div class="areas-container">
            <div class="areas-header">
                <div class="arrow" id="arrow1"></div>@Resources.Resources.PracticeAreasSubtitle
            </div>
            <div class="areas-text-wrapper" id="area-text-1">
                @Resources.Resources.PracticeAreasSubtitleDefinition<br />
                <br />
                @Resources.Resources.PracticeAreasSubtitleDefinition1<br />
                <br />
                <div class="times-italic">
                    <ul>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition2</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition3</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition4</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition5</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition6</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition7</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition8</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition9</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition10</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition11</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition12</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition13</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition14</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition15</li>
                        <li>@Resources.Resources.PracticeAreasSubtitleDefinition16</li>
                    </ul>
                </div>
            </div>
            <div class="areas-header">
                <div class="arrow" id="arrow2"></div>@Resources.Resources.PracticeAreasSubtitle2
            </div>
            <div class="areas-text-wrapper" id="area-text-2">
                @Resources.Resources.PracticeAreasSubtitle2Definition<br />
                <br />
                <div class="times-italic">
                    <ul>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition1</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition2</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition3</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition4</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition5</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition6</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition7</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition8</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition9</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition10</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle2Definition11</li>
                    </ul>
                </div>
            </div>

            <div class="areas-header">
                <div class="arrow" id="arrow3"></div>@Resources.Resources.PracticeAreasSubtitle3
            </div>
            <div class="areas-text-wrapper" id="area-text-3">
                @Resources.Resources.PracticeAreasSubtitle3Definition
                <br />
                <br />
                <div class="times-italic">
                    <ul>
                        <li>@Resources.Resources.PracticeAreasSubtitle3Definition1</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle3Definition2</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle3Definition3</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle3Definition4</li>
                        <li>@Resources.Resources.PracticeAreasSubtitle3Definition5</li>
                    </ul>
                </div>
                <br />
                @Resources.Resources.CommonApointment @Html.ActionLink(@Resources.Resources.CommonApointmentHere, "Contact")
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#arrow1").css('-webkit-transform', 'rotate(-90deg)');
        $("#area-text-1").hide();

        $("#arrow2").css('-webkit-transform', 'rotate(-90deg)');
        $("#area-text-2").hide();

        $("#arrow3").css('-webkit-transform', 'rotate(-90deg)');
        $("#area-text-3").hide();
    });
</script>

<script>
    $("#arrow1").click(function () {

        if ($("#area-text-1").is(":hidden")) {
            $("#area-text-1").slideDown(1500,"linear");
            $(this).css('-webkit-transform', 'rotate(0deg)');
        } else {
            $("#area-text-1").slideUp(1500, "linear");
            $(this).css('-webkit-transform', 'rotate(-90deg)');
        }
    });
    $("#arrow2").click(function () {

        if ($("#area-text-2").is(":hidden")) {
            $("#area-text-2").slideDown(1500, "linear");
            $(this).css('-webkit-transform', 'rotate(0deg)');
        } else {
            $("#area-text-2").slideUp(1500, "linear");
            $(this).css('-webkit-transform', 'rotate(-90deg)');
        }
    });
    $("#arrow3").click(function () {

        if ($("#area-text-3").is(":hidden")) {
            $("#area-text-3").slideDown(1500, "linear");
            $(this).css('-webkit-transform', 'rotate(0deg)');
        } else {
            $("#area-text-3").slideUp(1500, "linear");
            $(this).css('-webkit-transform', 'rotate(-90deg)');
        }
    });
</script>