@{
    ViewBag.Title = "Genaro Silvestre - " + @Resources.Resources.NotaryTitle;
}
<div class="noticias-header">
    @Resources.Resources.NotaryTitle
</div>
<div class="menu-spacer"></div>
<div class="main-wrapper" id="noticia-wrapper">
    <div class="areas-image-frame">
        <div class="image-responsive">
            <img src="~/Content/images/NotariadoYLegalizacionHeader.jpg" />
        </div>
    </div>
    <img src="~/Content/images/AreasFrameShadow.png" class="areas-image-shadow" />
    <div class="noticia-text-wrapper">
        <div class="areas-gray-background">@Resources.Resources.NotaryGray</div>
    </div>

    <div class="areas-wrapper">
        <div class="areas-container">
            <div class="areas-text-wrapper">
                <p>
                @Resources.Resources.NotaryDefinition
                </p>
                <p>
                @Resources.Resources.NotaryDefinition1</p>
                <p>
                @Resources.Resources.NotaryDefinition2</p>
                <p>
                   @Resources.Resources.NotaryDefinition3</p>
                <p>
                    @Resources.Resources.NotaryDefinition4</p>
                <p>
                    @Resources.Resources.NotaryDefinition5</p>
                <p>
                    @Resources.Resources.CommonApointment @Html.ActionLink(@Resources.Resources.CommonApointmentHere, "Contact")
                </p>
                </div>
            </div>
        </div>
    </div>