@{
    ViewBag.Title = @Resources.Resources.ExecutiveProfileTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noticias-header">
    @Resources.Resources.ExecutiveProfileTitle
</div>
<div class="main-wrapper" id="noticia-wrapper">
    <div class="times-regular text-justify text-medium">
        <div class="row">
            <div class="col-md-6">
                @Resources.Resources.ExecutiveProfileDefinition
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition1
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition2
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition3
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition4
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition5
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition6
                <br />
                <br />
                @Resources.Resources.ExecutiveProfileDefinition7<br />
                <br />
                @Resources.Resources.CommonApointment @Html.ActionLink(@Resources.Resources.CommonApointmentHere, "Contact")
                <br />
                <br />
            </div>

            <div class="col-md-6">
                <div class="profile">
                    <img src="~/Content/images/Pic%20Full.png" />
                </div>
            </div>

        </div>
    </div>
</div>
