@{
    ViewBag.Title = "Genaro Silvestre - " + @Resources.Resources.FirmProfileTitle;
}
<div class="noticias-header">
    @Resources.Resources.FirmProfileTitle
</div>
<div class="menu-spacer"></div>
<div class="main-wrapper" id="noticia-wrapper">
    <div class="areas-image-frame">
        <div class="image-responsive">
            <img src="~/Content/images/PerfilDeFirmaHeader.jpg" />
        </div>
    </div>
    <img src="~/Content/images/AreasFrameShadow.png" class="areas-image-shadow" />
    <div class="noticia-text-wrapper">
        <div class="areas-gray-background">@Resources.Resources.FirmProfileGray</div>
    </div>

    <div class="areas-wrapper">
        <div class="areas-container">
            <div class="areas-text-wrapper">
                <p>
                    @Resources.Resources.FirmProfileDefinition</p>
                <p>
                    @Resources.Resources.FirmProfileDefinition1</p>
                <p>
                    @Resources.Resources.FirmProfileDefinition2</p>
                <p>
                    @Resources.Resources.FirmProfileDefinition3</p>
                <p>
                    @Resources.Resources.FirmProfileDefinition4</p>
                <p>
                    @Resources.Resources.CommonApointment @Html.ActionLink(@Resources.Resources.CommonApointmentHere, "Contact")
                </p>
            </div>
        </div>
    </div>
</div>