@model GenaroSilvestre.Models.News

@{
    ViewBag.Title = Resources.Resources.NewsCreate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noticias-header">
    @Resources.Resources.NewsCreate
</div>
<div class="main-wrapper">
    @using ((Html.BeginForm("Create", "News",
      FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()
        if (!String.IsNullOrEmpty(ViewBag.UploadMessage))
        {
            <div class="alert alert-danger" role="alert">@ViewBag.UploadMessage</div>
        }
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.User)
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "form-label col-md-1" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Title, new { @class = "input-spaced" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Text, new { @id = "my-textarea" })
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TitleEnglish, new { @class = "form-label col-md-1" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.TitleEnglish, new { @class = "input-spaced" })
                    @Html.ValidationMessageFor(model => model.TitleEnglish)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.TextEnglish, new { @id = "my-textarea2" })
                    @Html.ValidationMessageFor(model => model.TextEnglish)
                </div>
            </div>
            <div class="form-group">
                <div class="form-label col-md-1">@Resources.Resources.StandardImage</div>
                <div class="col-md-10">
                    <input type="file" name="file" value="Image">
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="@Resources.Resources.StandardCreate" class="btn btn-default table-link" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink(Resources.Resources.StandardBackToList, "Index")
    </div>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#my-textarea').ckeditor();
            $('#my-textarea2').ckeditor();
        });
    </script>
</div>
