@model GenaroSilvestre.Models.News

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noticias-header">Borrar Noticia</div>

<div class="main-wrapper">
    <div class="alert alert-danger times-bold text-big" role="alert">Está seguro que desea borrar esta noticia?</div>

    <br />
    <div class="row">
        <div class="col-md-2 times-bold">
            @Html.DisplayNameFor(model => model.Title)
        </div><div class="col-md-6 times-regular">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2 times-bold">
            @Html.DisplayNameFor(model => model.Text)
        </div>
        <div class="col-md-6 times-regular">
            @if (Model.Text.Length > 300)
            {
                @Html.DisplayFor(model => model.Text).ToString().Substring(0, 300)
            }
            else
            {
                   @Html.DisplayFor(model => model.Text);
            }
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2 times-bold">
            @Html.DisplayNameFor(model => model.Image)
        </div><div class="col-md-2 noticias-image-thumb">
            <img src="@Html.ValueFor(model=> model.Image)" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2 times-bold">
            @Html.DisplayNameFor(model => model.Created)
        </div><div class="col-md-2 times-regular">
            @Html.DisplayFor(model => model.Created)
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2 times-bold">
            @Html.DisplayNameFor(model => model.Updated)
        </div><div class="col-md-2 times-regular">
            @Html.DisplayFor(model => model.Updated)
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2 times-bold">
            @Html.DisplayNameFor(model => model.User.UserName)
        </div><div class="col-md-2 times-regular">
            @Html.DisplayFor(model => model.User.UserName)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-actions no-color">
                <div class="col-md-3">
                    <br />
                    <input type="submit" value="Borrar" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <br />
                @Html.ActionLink("Volver a la lista", "Index")
            </div>
        </div>
    }
</div>
