@model GenaroSilvestre.Models.News

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noticias-header">
    Editar Noticia
</div>

<div class="main-wrapper">

    @Html.ValidationSummary()
    @using ((Html.BeginForm("Edit", "News",
      FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.Image)
            @Html.HiddenFor(model => model.User)
            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "form-label col-md-1" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Title, new { @class = "input-spaced" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Text, new {@id="my-textarea" })
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-label col-md-1">Imagen</div>
            <div class="col-md-12">
                <div class="noticias-image-thumb">
                    <img src="@Model.Image" />
                </div>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-6">
                <input type="file" name="file" value="Image">
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    <br />
    <br />
    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>

    <br />
</div>

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
        $(function () {
            $('#my-textarea').ckeditor();
        });
</script>