@model IEnumerable<GenaroSilvestre.Models.News>

@{
    ViewBag.Title = "Home Page";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<div class="noticias-header">
    @Resources.Resources.NewsTitle
</div>
<div class="menu-spacer"></div>
<div class="row">
    @foreach (var item in Model.OrderByDescending(x => x.Created))
    {

        string NewsText;
        string NewsTitle;

        if (culture == "es")
        {
            NewsText = item.Text;
            NewsTitle = item.Title;
        }
        else
        {
            NewsText = item.TextEnglish;
            NewsTitle = item.TitleEnglish;
        }

        <div class="col-xs-12 col-sm-6">
            <div class="main-wrapper">
                <div class="noticia-image-frame">
                    <div class="image-responsive">
                        <img src="@item.Image" />
                    </div>
                </div>
                <div class="noticia-image-shadow">
                    <img src="~/Content/images/NoticiasFrameShadow.png" class="noticia-image-shadow" />
                </div>
                <div class="noticia-text-wrapper">
                    <div class="noticia-title">
                        @NewsTitle
                    </div>

                    @if (NewsText.Length > 300)
                    {
                    <div class="noticia-text">@Html.Raw(NewsText.Substring(0, 200))...</div>
                    }
                    else
                    {
                    <div class="noticia-text">@Html.Raw(NewsText)</div>
                    }

                    <div class="noticia-link">@Html.ActionLink(@Resources.Resources.CommonReadMore, "Details", new { id = item.Id })</div>
                </div>
            </div>
        </div>
    }
</div>
